# Ignore python compiled files
*.py[co]
# Ignore eggs
*.egg-info
*.egg
# Ignore backups
*~
.*.swp
\#*
# Ignore mo
*.mo

# Ignore buoldout related files and directories
var
develop-eggs
bin
parts
extras
.mr.developer.cfg
.installed.cfg
*.log
